<div class="row">
<form id="" action="/people/<%= @person.id %>" method="post">
	<input name="_method" type="hidden" value="put" />
	<label for="first_name">First Name:</label>
	<input name="first_name" type="text" value="<%= @person.first_name %>" />
	<label for="last_name">Last Name:</label>
	<input name="last_name" type="text" value="<%= @person.last_name %>" />
	<label for="birthdate">Birthdate:</label>
	<input name="birthdate" type="date" value="<%= @person.birthdate.strftime("%Y-%m-%d") %>" />
	<input class="btn btn-default" type="submit" />
</form>
<a href="/people/<%= @person.id %>" class="btn btn-default">Cancel</a>
</div>